.Container {
  width: 980px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

@media only screen and (max-width: 1050px) {
  .Container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 980px) {
  .Container {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .Container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
