.item-details-wrapper {
  display: block;
  width: 30em;
  margin: 0 auto;
}

.item-details {
  float: left;
  margin-bottom: 5em;
  border-radius: 10px;
}

.item-details .item-image {
  max-width: 30em;
  border-radius: 10px;
}

span {
  font-size: 20px;
}

@media only screen and (max-width: 650px) {
  .item-details .item-image {
    max-width: 25em;
  }

  .item-details-wrapper {
    width: 25em;
  }
}

@media only screen and (max-width: 450px) {
  .item-details .item-image {
    max-width: 20em;
  }

  .item-details-wrapper {
    width: 20em;
  }
}

@media only screen and (max-width: 350px) {
  .item-details .item-image {
    max-width: 15em;
  }

  .item-details-wrapper {
    width: 15em;
  }
}
